<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Serviços</title>
		</head>
		<main>
			<ul class="produtos">
				<li>
					<h2>Cabelo</h2>
					<img src="../assets/img/cabelo.jpg">
					<p class="produto-descricao">Na tesoura ou máquina, como o cliente preferir</p>
					<p class="produto-preco">R$ 25,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
				<li> 
					<h2>Barba</h2>
					<img src="../assets/img/barba.jpg">
					<p class="produto-descricao">Corte e desenho profissional de barba</p>
					<p class="produto-preco">R$ 18,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
				<li>
					<h2>Cabelo+Barba</h2>
					<img src="../assets/img/cabelo+barba.jpg">
					<p class="produto-descricao">Pacote completo de cabelo e barba</p>
					<p class="produto-preco">R$ 35,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
				<li>
					<h2>Manicure</h2>
					<img src="../assets/img/manicure.png">
					<p class="produto-descricao">Unhas</p>
					<p class="produto-preco">R$ 50,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
				<li>
					<h2>Pedicure</h2>
					<img src="../assets/img/pedicure.png">
					<p class="produto-descricao">Unhas</p>
					<p class="produto-preco">R$ 50,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
				<li>
					<h2>Manicure+Pedicure</h2>
					<img src="../assets/img/maniepedi.png">
					<p class="produto-descricao">Pés e mão</p>
					<p class="produto-preco">R$ 100,00</p>
					<span class="seletor">
						<button class="seletor-item" mat-flat-button color="primary"><mat-icon>add</mat-icon>Adicionar</button>
						<p></p>
						<p><button class="seletor-item" mat-flat-button color="primary"><mat-icon>delete</mat-icon>Excluir</button></p>
					</span>
				</li>
			</ul>
		</main>		
</html>